* {
  box-sizing: border-box;
}

.start-button {
  width: 10%;
  margin-top: 5%;
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
